/* Media Queries */

/* Mobile Styles */
@media (max-width: 375px) {
    .container {
      margin: 20px;
      padding: 20px;
    }
  
    .tabela-nutrientes {
      grid-template-columns: 1fr;
    }
  
    td {
      padding: 0px;
    }
  
    .div-preparate-time, .ingredients, .nutrition, .instructions {
      margin: 15px 0;
    }
  
    p {
      font-size: 14px;
    }
  }
  
  /* Desktop Styles */
  @media (min-width: 1440px) {
    .container {
      margin: 100px 550px;
      padding: 40px;
    }
  }
  